---
layout: default
title: Home
---
<h1>About Me</h1>

<section class="info-table-section">
    <table class="info-table">
        <h2>Quick Info</h2>
        <thead>
        <tr class="head-tr">
            <th>Field</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Name
            </td>
            <td>Daniel Lee</td>
        </tr>
        <tr>
            <td>
                Age
            </td>
            <td>
                {{ "today" | date: "%Y" | minus: 1996 }}
            </td>
        </tr>
        <tr>
            <td>Profession</td>
            <td>Software Engineer</td>
        </tr>
        <tr>
            <td>Years of Experience</td>
            <td>
                {{ "today" | date: "%Y" | minus: 2018 }}
            </td>
        </tr>
        </tbody>
    </table>
</section>

<hr/>

<h1>Job History</h1>

<section>
    {% for job in site.data.job_history %}
    <article class="job-experience-article">
        <div>
            <h2 class="section-title">{{ job.title }}</h2>
            <p class="section-sub-title inline">at {{ job.place }}</p>
            {% if job.current %}
                <p class="section-sub-title-2 inline italic">({{ job.start_month }} {{ job.start_year }} - Current)</p>
            {% else %}
                <p class="section-sub-title-2 inline italic">({{ job.start_month }} {{ job.start_year }} - {{ job.end_month }} {{ job.end_year }})</p>
            {% endif %}
        </div>

        <div>
            {% if job.title != "Infantryman" %}
                <a class="btn btn-outline-primary" href="{{ job.link }}">Read what I did</a>
            {% endif %}
        </div>
    </article>
    {% endfor %}
</section>