
.pages-jobs-dish-network__main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .page-title {
    font-size: 2rem;
    text-decoration: underline;
    text-align: center;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .section-sub-title {
    margin: 10px;
    color: #6196cc;
  }

  article {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .achievement-summary {
    font-size: 1rem;
    color: #859caa;
    cursor: pointer;
    margin: 10px;
  }

  .achievement-explanation {
    color: #b0cae3;

    font-size: 1rem;
    margin: 15px;
    padding: 10px;
    border: 1px solid #c9d8e3;
    border-radius: 10px;
  }

  li {
    color: #6196cc;
    list-style: square;

  }

}