@import '_layouts/post.scss';
@import '_layouts/default.scss';
@import 'pages/index.scss';
@import 'pages/jobs/dish_network.scss';


.invisible {
  color: transparent;
  background-color: transparent;
}

strong {
  text-decoration: underline;
  font-weight: bolder;
}