@import '_layouts/post.scss';

* {
  font-family: Optima, sans-serif;
  font-weight: lighter;
  line-height: 30px;
}

.body {
  max-width: 900px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  background: #2c2c32;
  color: white;
}

a {
  color: white
}

.navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-link {
  text-decoration: none;
}


