.info-table-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    .info-table {
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 70%;
        border: 1px solid white;

        .thead, th {
            background-color: cornflowerblue;
        }

        thead, tbody {
            width: 100%;
        }

        tr {
            display: flex;
            justify-content: space-between;

            td, th {
                border: 1px solid white;
                text-align: start;
                font-size: 20px;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 5px;
                width: 50%;
            }

            td:nth-child(2), th:nth-child(2) {
            }
        }

        tr:nth-child(even) {
            background-color: #5b5b62;
            color: #c5d8f1;
        }
    }
}

.skills-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
